// 侧边数字时钟
// 粒子时钟样式
.site-overview {
  text-align: center;
}

canvas#canvas {
  margin-top: 20px;
}


//背景图片
body{
        background:url(/images/background.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:100% 100%;
}

//侧栏图片及内部文字颜色修改
.sidebar {
    background:#ffffff
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    p,span,a {color: #009393}
}


//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.9;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  // background: rgba(255,255,255,0.8);
  opacity: 0.9;
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}

